<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cs160.fall13.MeatUp">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="18"
            />

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            >
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity
                android:name=".MainTabsActivity"
                >
            <!--android:uiOptions="splitActionBarWhenNarrow"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--<meta-data-->
            <!--android:name="android.support.UI_OPTIONS"-->
            <!--android:value="splitActionBarWhenNarrow"/>-->
        </activity>

        <activity
                android:name=".AddFriendsActivity"
                android:label="Add Friends"
                android:parentActivityName=".MainTabsActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainTabsActivity"/>
        </activity>
        <activity
                android:name=".NewLunchActivity"
                android:label="New Lunch"
                android:parentActivityName=".MainTabsActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainTabsActivity"/>
        </activity>

        <activity
                android:name=".GetRecommendationActivity"
                android:label="Recommend a Restaurant"
                android:parentActivityName=".NewLunchActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".NewLunchActivity"/>
        </activity>
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyA88edINI0-thfFYWYU5oYdHVqciW5sK1s"/>
    </application>
</manifest>
